.resetpassword-page
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.resetpassword-page .title
{
    margin: 3%;
}

.resetpassword-page div:last-child
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center ;

    width: 250px;
    align-self: center;
}

.resetpassword-page .content > div,
.resetpassword-page .content > span,
.resetpassword-page .content > form,
.resetpassword-page .content > a 
{
    margin-top: .5rem;
}

.resetpassword-page .content a
{
    text-decoration: none;
}

