.new-message
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: rgb(250, 250, 250); */
    background-color: rgb(220, 220, 220);
    padding: 10px;
    width: 100%;
}

.new-message .information
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.new-message .information span
{
    text-align: center;
}

.new-message .information .title
{
    margin-bottom: .5rem;
    background-color: black;
    color: white;
    padding: .15em;
}

.new-message form
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin-top: 1rem;
}

/* .new-message form div:first-child
{
    width: 80%;
}

.new-message form div:last-child
{
    width: 20%;
} */